.flexrow{
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 1.7rem;
   }

   .form-label, .custom-control{
       font-size: 16px !important;
   }

   .wizard-card-header{
    background-color: #fff;
    background-clip: border-box;
    height: 100px;
    margin-top: 20px;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    }
    aw-wizard-step{
        margin-top: 20px;
        width: 100%;
    }

    /* Mobile Responsive media query */
   @media only screen and (max-width: 600px){
    .flexrow{
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    text-align: left;
    margin-left: 0;
   }
   }
