<div class="card">
  <div class="card-header font-weight-bold">
    <h4 class="mb-0">Completed Encounters</h4>
  </div>
  <div class="card-body p-4">
    <div class="row">
      <div class="col-md-12">
        <app-filters
          [CallingPage]="'OrderCompletedWorkqueue'"
          (FilterData)="ApplyFilter($event)"
        ></app-filters>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <kendo-grid
          [data]="OrderGridView"
          [skip]="OrderSkip"
          [height]="650"
          class="w-100 wrap-grid"
          [selectable]="selectableSettings"
          [kendoGridSelectBy]="selectedCallback"
          [selectedKeys]="OrderSelected"
          [sortable]="{
            mode: 'multiple'
          }"
          [sort]="OrderSort"
          (sortChange)="OrderSortChange($event)"
          [loading]="loadingOrderGrid"
          [pageable]="true"
          [pageSize]="pagesize"
          (pageChange)="OrderPageChange($event)"
          (dataStateChange)="dataStateChange($event)"
        >
          <ng-template *ngIf="vwExportButton" kendoGridToolbarTemplate>
            <button
              class="pull-right mr-1"
              type="button"
              (click)="exportToExcelLog()"
              kendoGridExcelCommand
            >
              Export to Excel
            </button>
            <!-- <button class="pull-right mr-1" type="button" kendoGridPDFCommand>
          Export to PDF
        </button> -->
          </ng-template>
          <!-- <kendo-grid-checkbox-column width="12" showSelectAll="true">
        </kendo-grid-checkbox-column> -->
          <kendo-grid-column
            field="assignmenttype"
            title=""
            width="15"
            class="text-center"
            [headerStyle]="{ 'font-weight': 'bold' }"
            [sortable]="false"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <i
                [title]="
                  dataItem.assignmenttype == 1
                    ? 'Group Assignment'
                    : 'Individual Assignment'
                "
                class="fas"
                [ngClass]="{
                  'fa-user text-teal': dataItem.assignmenttype == 0,
                  'fa-users text-cyan': dataItem.assignmenttype == 1
                }"
              ></i>
              <i
                class="fas ml-1"
                [ngClass]="{
                  'fa-file-pdf text-red':
                    dataItem.encountersource?.toLowerCase() == 'rcm encounter',
                  'fa-flask text-indigo':
                    dataItem.encountersource?.toLowerCase() ==
                    'biotech encounter'
                }"
                [title]="dataItem.encountersource"
              ></i>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            *ngIf="!isHidden('orderqueuegroupid')"
            field="orderqueuegroupid"
            title="Work Group #"
            width="60"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <!--  <kendo-grid-column
          field="workitemstatus"
          title=""
          width="12"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
              <span *ngIf="dataItem.workitemstatus"
                ><i
                  title="Assigned. Open task present against this workitem"
                  class="fe fe-user-x"
                ></i
              ></span>
            </ng-template> 
        </kendo-grid-column>-->

          <!-- <kendo-grid-column
          field="orderdate"
          title="Order Date"
          width="50"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.orderdate | date: "MM-dd-yyyy" }}
          </ng-template>
        </kendo-grid-column> -->

          <!--  <kendo-grid-column field="orderdate" width="90" title="Order Date"[headerStyle]="{ 'font-weight': 'bold' }">
          <ng-template
            kendoGridFilterCellTemplate
            let-filter
            let-column="column"
          >
            <kendo-grid-date-filter-cell
              [showOperators]="false"
              [column]="column"
              [filter]="filter"
            >
            </kendo-grid-date-filter-cell>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.orderdate | date: "MM-dd-yyyy" }}
            {{ dataItem.orderdate }} 
          </ng-template>
        </kendo-grid-column>-->
          <!-- <kendo-grid-column
          field="orderdate"
          title="Order Date"
          width="60"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.orderdate | date: "MM-dd-yyyy" }}
          </ng-template>
        </kendo-grid-column> -->
          <kendo-grid-column
            field="orderyear"
            title="Year"
            width="20"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="orderday"
            title="Folder"
            width="23"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ordercategory"
            title="Category"
            width="30"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="clientname"
            title="Client"
            width="30"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="orderqueuegroupcode"
            title="Accession #"
            width="32"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <!-- <kendo-grid-column
          field="patientname"
          [filterable]="false"
          title="Patient"
          width="80"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="dob"
          [filterable]="false"
          title="Patient DOB"
          width="45"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column> -->
          <!-- <kendo-grid-column
          field="gender"
          title="Gender"
          [filterable]="false"
          width="30"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.gender == 'M'">
              Male
            </div>

            <div *ngIf="dataItem.gender == 'F'">
              Female
            </div>
            <div *ngIf="dataItem.gender != 'M' && dataItem.gender != 'F'">
              {{ dataItem.gender }}
            </div>
          </ng-template>
        </kendo-grid-column> -->
          <!-- <kendo-grid-column
          field="providername"
          title="Provider"
          width="80"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="providernpi"
          title="Provider NPI"
          [filterable]="false"
          width="50"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column> -->

          <kendo-grid-column
            field="claimreferencenumber"
            [filterable]="false"
            title="QPM Claim #"
            width="35"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ordernote"
            [filterable]="false"
            title="Note"
            width="45"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ordersubstatus"
            title="Sub-Status"
            [filterable]="false"
            width="30"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="modifiedon"
            [filterable]="false"
            title="Completed On"
            width="45"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.modifiedon | date: "MM-dd-yyyy" }}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="assignedtoname"
            title="Completed By"
            [filterable]="false"
            width="37"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="comment"
            title="Comment"
            width="25"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <!-- <kendo-grid-column
            field="hl7present"
            title="HL7"
            width="20"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div
                *ngIf="dataItem.hl7present"
                class="text-success"
                title="HL7 is present"
              >
                Yes
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="clientbilling"
            title="Client Billing"
            width="35"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div
                *ngIf="dataItem.clientbilling"
                class="text-success"
                title="Client billing is present"
              >
                Yes
              </div>
            </ng-template>
          </kendo-grid-column> -->
          <kendo-grid-column
            field="documentcount"
            title=""
            [sortable]="false"
            width="20"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <i
                (click)="onOpenViewdetails(dataItem)"
                data-toggle="modal"
                data-target="#viewdetailsModal"
                class="fas fa-eye mr-1 pointer text-primary"
                title="View"
              ></i>
              <i
                *ngIf="vwAddComment"
                (click)="onAddCommentClicked(dataItem)"
                data-toggle="modal"
                data-target="#viewAddComment"
                class="fas fa-comment pointer mr-1 text-info"
                title="Add Comment"
              ></i>
              <i
                *ngIf="dataItem.hl7present"
                class="fas fa-notes-medical mr-1 text-orange"
                title="HL7 is available"
              ></i>
              <i
                *ngIf="dataItem.clientbilling"
                class="fas fa-file-invoice-dollar text-success"
                title="Client billed encounter"
              ></i>
            </ng-template>
          </kendo-grid-column>

          <ng-template kendoGridNoRecordsTemplate>
            No records available.
          </ng-template>
          <kendo-grid-excel fileName="{{ exportFilename }}.xlsx">
            <!-- [fetchData]="allData" -->
            <kendo-excelexport-column
              field="encountersource"
              title="Encounter Type"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column field="orderyear" title="Year">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="orderday" title="Folder">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="ordercategory" title="Category">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="clientname" title="Client">
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="orderqueuegroupcode"
              title="Accession #"
            >
            </kendo-excelexport-column>
            <!-- <kendo-excelexport-column field="documentcount" title="Document #">
          </kendo-excelexport-column> -->
            <kendo-excelexport-column
              field="claimreferencenumber"
              title="QPM Claim #"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column field="ordernote" title="Note">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="ordersubstatus" title="Sub-Status">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="workeddate" title="Completed On">
              <!-- replace modifiedon with workeddate for display formated date. -->
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="assignedtoname"
              title="Completed By"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column field="comment" title="Comment">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="hl7present" title="HL7">
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="clientbilling"
              title="Client Billing"
            >
            </kendo-excelexport-column>
          </kendo-grid-excel>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>
<!--View Details Model GRID---  -->
<div
  class="modal bd-example-modal-lg"
  data-backdrop="static"
  data-keyboard="false"
  id="viewdetailsModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <app-order-details #OrderDetailsComponent></app-order-details>
  </div>
</div>
<!--View Details Model -->

<div
  class="modal fade bd-example-modal-lg"
  *ngIf="OrderSelected.length > 0"
  data-backdrop="static"
  data-keyboard="false"
  id="assignOrderModal"
  role="dialog"
  aria-labelledby="buttonLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <app-order-assignment #OrderAssignment></app-order-assignment>
  </div>
</div>
<!-- Add comment modal -->
<div
  class="modal bd-example-modal-lg"
  data-backdrop="static"
  data-keyboard="false"
  id="viewAddComment"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Comment</h5>
        <button
          type="button"
          class="close"
          (click)="onCommentClose()"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-comment
          (iscommentsaved)="outputCommentResult($event)"
          #AddCommentComponent
        ></app-add-comment>
      </div>
    </div>
  </div>
</div>
<!-- Add comment modal -->
