<div class="row mt-5">
  <div class="col-sm-12 col-md-7 col-lg-5 mx-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">Change Password</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="frmsignup" (submit)="changepassword()">
          <div class="form-group">
            <label class="mb-1 form-label">Current Password</label>
            <input
              type="password"
              class="w-100"
              kendoTextBox
              formControlName="olduser_pass"
              #olduser_pass
            />
            <div
              *ngIf="
                frmsignup.controls.userpass.touched &&
                frmsignup.controls.olduser_pass.errors
              "
            >
              <small
                *ngIf="frmsignup.controls.userpass.errors?.required"
                class="text-danger"
                >Enter Password</small
              >
            </div>

            <div
              *ngIf="
                frmsignup.controls.olduser_pass.errors &&
                frmsignup.controls.olduser_pass.errors.oldpasswordinvalid
              "
              class="alert alert-warning alert-dismissible text-center"
              style="border-radius: 25px;margin-top:5px"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-hidden="true"
              ></button>
              <i class="fa fa-warning mr-1"></i>
              <small> Old password does not match</small>
            </div>

            <!-- <div *ngIf="frmsignup.controls.olduser_pass.errors && frmsignup.controls.olduser_pass.errors.oldpasswordinvalid" class="alert alert-warning alert-dismissible text-center"
                  style="border-radius: 25px;margin-top:5px">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <i class="icon fa fa-warning"></i> <small> Old password does not match</small>
                </div> -->
          </div>

          <div class="form-group">
            <label class="mb-1 form-label">New Password</label>
            <input
              type="password"
              class="w-100"
              kendoTextBox
              formControlName="userpass"
              #userpass
            />

            <div
              *ngIf="
                frmsignup.controls.userpass.touched &&
                frmsignup.controls.userpass.errors
              "
            >
              <small
                *ngIf="frmsignup.controls.userpass.errors.required"
                class="text-danger"
                >Enter Password</small
              >
              <small
                *ngIf="frmsignup.controls.userpass.errors.cannotContainspace"
                class="text-danger"
                >Space not allowed</small
              >
              <small
                *ngIf="frmsignup.controls.userpass.errors.minlength"
                class="text-danger"
              >
                Minimum
                {{
                  frmsignup.controls.userpass.errors.minlength.requiredLength
                }}
                character needed
              </small>
            </div>

            <div
              *ngIf="
                frmsignup.controls.userpass.touched &&
                frmsignup.errors &&
                frmsignup.errors.oldandnewpasswordcannotbesame
              "
              class="alert alert-warning alert-dismissible text-center"
              style="border-radius: 25px;margin-top:5px"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-hidden="true"
              ></button>
              <i class="fa fa-warning mr-1"></i>
              <small>Old and New password cannot be same</small>
            </div>

            <!-- <div *ngIf="frmsignup.controls.userpass.touched && frmsignup.errors && frmsignup.errors.oldandnewpasswordcannotbesame" class="alert alert-danger     alert-dismissible text-center mt-1 p-1">
                  <button type="button" class="close p-1 pr-2" data-dismiss="alert" aria-hidden="true">×</button>
                  <i class="icon fa fa-info-circle"></i> <small style="font-size: 15px;"> Old and New password cannot be same</small>
                </div> -->
          </div>

          <div class="form-group">
            <label class="form-label mb-1">Retype Password</label>
            <input
              type="password"
              class="w-100"
              kendoTextBox
              formControlName="reuser_pass"
              #reuser_pass
            />
            <div
              *ngIf="
                frmsignup.controls.reuser_pass.touched &&
                frmsignup.controls.reuser_pass.errors
              "
            >
              <small
                *ngIf="frmsignup.controls.reuser_pass.errors.required"
                class="text-danger"
                >Confirm the password</small
              >
            </div>
            <small
              *ngIf="
                frmsignup.controls.reuser_pass.touched &&
                frmsignup.errors &&
                frmsignup.errors.userpasswordsShouldMatch2
              "
              class="text-danger"
            >
              Passwords don't match.</small
            >
          </div>
          <div class="text-left">
            <button
              type="submit"
              [disabled]="!frmsignup.valid"
              class="btn btn-sm btn-primary mr-2"
            >
              Update Password
            </button>
            <button
              class="btn btn-sm btn-secondary"
              routerLink="/{{ cancelLink }}"
              (click)="onCancelClick()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
