<div class="modal-content">
  <div class="modal-header p-2 pl-3">
    <h5 class="modal-title" id="mdAssignWork">{{ title }}</h5>
    <button
      type="button"
      class="close pr-5"
      (click)="close()"
      data-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="AssignOrderQueue">
      <div class="row">
        <div class="col-md-12">
          <span class="tag tag-rounded mb-4"
            >{{ selectedOrdercount }} workitem selected</span
          >
          <div *ngIf="selectedOrders.length==1" class="row col-md-12">
            <span
              class="alert alert-danger p-0 pl-1 pr-1 mb-4"
              *ngIf="
                (this.orderAssignSource == 3 ||
                  this.orderAssignSource == 8 ||
                  this.orderAssignSource == 10) &&
                this.strmessage !== ''
              "
              ><h5 class="alert-heading">Alert!!</h5>
              {{ strmessage }}
            </span>
          </div>
          <div *ngIf="GroupName.value!=0 && selectedOrders.length>1" class="row col-md-12">
            <span
              class="alert alert-info p-0 pl-1 pr-1 mb-4"
              *ngIf="
                (this.orderAssignSource == 3 ||
                  this.orderAssignSource == 8 ||
                  this.orderAssignSource == 10) &&
                this.strAssignmentGroupMessage !== ''
              "
              >
              <h5 class="alert-heading">Information</h5>
              <div style="white-space: pre-line;" [innerHTML]="strAssignmentGroupMessage+ strAssignmentAgentMessage"></div>
              <!-- {{ strAssignmentGroupMessage }} {{strAssignmentAgentMessage}} -->
            </span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label"
                  ><strong class="text-danger">* </strong>Group</label
                >
                <kendo-dropdownlist
                  class="form-control form-control-sm"
                  formControlName="fcGroup"
                  id="ddGroups"
                  [class.is-invalid]="GroupName.invalid && GroupName.touched"
                  [data]="loginUserGroup"
                  textField="groupname"
                  valueField="groupid"
                  [valuePrimitive]="true"
                  [defaultItem]="groupDefault"
                  [filterable]="true"
                  (filterChange)="handleGroupFilter($event)"
                >
                </kendo-dropdownlist>
                <div *ngIf="GroupName.invalid && GroupName.touched">
                  <small
                    *ngIf="!!GroupName.errors?.required"
                    class="text-danger"
                    >Group is required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label"
                  ><strong
                    *ngIf="
                      this.orderAssignSource !== 3 &&
                      this.orderAssignSource !== 8 &&
                      this.orderAssignSource !== 10
                    "
                    class="text-danger"
                    >* </strong
                  >Agent</label
                >
                <kendo-dropdownlist
                  class="form-control form-control-sm"
                  formControlName="fcAgents"
                  id="ddAgents"
                  [class.is-invalid]="AgentName.invalid && AgentName.touched"
                  [data]="GroupUsers"
                  textField="displayname"
                  valueField="userid"
                  [valuePrimitive]="true"
                  [defaultItem]="default"
                  [filterable]="true"
                  (filterChange)="handleAgentFilter($event)"
                >
                </kendo-dropdownlist>
                <div *ngIf="AgentName.invalid && AgentName.touched">
                  <small
                    *ngIf="!!AgentName.errors?.required"
                    class="text-danger"
                    >Agent is required</small
                  >
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12" *ngIf="orderAssignSource == 3">
              <div class="form-group">
                <label class="form-label">
                  Note</label
                >
                <textarea
                  id="txtNote"
                  class="form-control form-control-sm"
                  formControlName="fcNote"
                  kendoTextArea
                  style="width: 100%; height: 50px;"
                  cols="21"
                  maxlength="1000"
                ></textarea>
              </div>
            </div> -->
            <!-- <div class="col-md-12">
              <div class="form-group">
                <label class="form-label"
                  ><strong class="text-danger">* </strong>Priority</label
                >
                <kendo-dropdownlist
                  class="form-control form-control-sm"
                  formControlName="fcPriority"
                  id="ddPriority"
                  [class.is-invalid]="
                    PriorityName.invalid && PriorityName.touched
                  "
                  [data]="Priority"
                  textField="displayname"
                  valueField="id"
                  [valuePrimitive]="true"
                >
                </kendo-dropdownlist>
                <div *ngIf="PriorityName.invalid && PriorityName.touched">
                  <small
                    *ngIf="PriorityName.errors?.required"
                    class="text-danger"
                    >Priority is required</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label"
                ><strong class="text-danger">* </strong>Due Date</label
              >
              <kendo-datepicker
                class="w-100"
                id="dtDueDate"
                [min]="min"
                [format]="'MM/dd/yyyy'"
                formControlName="fcDueDate"
                [class.is-invalid]="DueDate.invalid && DueDate.touched"
              >
              </kendo-datepicker>
              <div *ngIf="DueDate.invalid && DueDate.touched">
                <small *ngIf="DueDate.errors?.required" class="text-danger"
                  >Due Date is required</small
                >
                <small *ngIf="DueDate.errors?.minError" class="text-danger"
                  >Due Date must be greater or equal to today</small
                >
              </div>
            </div> -->
          </div>
        </div>

        <!-- <div class="col-md-4" *ngIf="AgentID != null && AgentID > 0">
          <div class="card card-profile-agent pb-0">
            <div class="card-header-agent bg-green"></div>
            <div class="card-body text-center pb-0">
              <div class="card-profile-img avatar avatar-xxl">
                {{ selectedAgent.initials }}
              </div>
              <h3 class="mb-2 text-black">{{ SelectedAgentName }}</h3>
              <p class="mb-1">{{ selectedAgent.rolename }}</p>
              <div>
                <ngb-rating [(rate)]="selectedAgent.rating">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100"
                      >&#9733;</span
                    >
                  </ng-template>
                </ngb-rating>
              </div>
              <button
                class="btn btn-pill btn-outline-primary btn-outline-secondary btn-sm mt-2"
              >
                {{ selectedAgent.pendingtask }} pending task
              </button>
            </div>
            <div class="row no-gutters work-top-border mt-3">
              <div class="col-6 work-right-border">
                <div class="text-center mt-2">
                  <div class="work-color mb-1">{{ selectedAgent.workavg }}</div>
                  <label class="work-text-color">Work Avg/Day</label>
                </div>
              </div>
              <div class="col-6">
                <div class="text-center mt-2">
                  <div class="work-color mb-1">
                    {{ selectedAgent.errorrate }}%
                  </div>
                  <label class="work-text-color">Error Rate</label>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button
      type="button"
      id="dismissBtn"
      data-dismiss="modal"
      style="display: none;"
    ></button> -->
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      (click)="close()"
      data-dismiss="modal"
      id="CancelWork"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      id="AssignWork"
      [disabled]="!validateAssignOrder()"
      (click)="onOKClick()"
    >
      {{
        orderAssignSource == 3 ||
        orderAssignSource == 8 ||
        orderAssignSource == 10
          ? "Ok"
          : "Assign"
      }}
    </button>
  </div>
  <div class="black-box" *ngIf="loadingData">
    <div class="k-i-loading"></div>
  </div>
  <div
    class="modal fade"
    data-backdrop="static"
    data-keyboard="false"
    id="checkConfirmationModal"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <app-yes-no-cancel-confirmation
        [InputConfirmationTitle]="'Confirmation'"
        [InputConfirmationMessage]="inputConfirmationMsg"
        [InputButtonInformation]="inputButtonInfo"
        (OutputConfirmationResult)="OutputCheckResult($event)"
      ></app-yes-no-cancel-confirmation>
    </div>
  </div>
  <div class="progress-box" *ngIf="isPercentLoader">
    <div class="col-md-3 mx-auto" style="top: 10%">
      <circle-progress
        [percent]="percentage"
        [startFromZero]="false"
        [animation]="true"
        [animationDuration]="200"
        [subtitle]="accessionInProgress"
        subtitleColor="#000"
        titleColor="#000"
        unitsColor="#000"
        innerStrokeColor="#fd9644"
        outerStrokeColor="#e76800"
        subtitleFontSize="12"
      ></circle-progress>
    </div>
  </div>
</div>
<app-incomplete-order-action
  class="d-none"
  #IncompleteOrderAction
></app-incomplete-order-action>
