<!-- ====------------------=-\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<div class="card">
  <div class="card-header font-weight-bold">
    <h4 class="mb-0">Encounters</h4>
  </div>
  <div class="card-body p-4">
    <div class="row">
      <div class="col-md-12">
        <app-filters
          [CallingPage]="'OrderWorkqueue'"
          (FilterData)="ApplyFilter($event)"
        ></app-filters>
      </div>
    </div>
    <div class="row mb-2 mt-2">
      <div class="col-md-12">
        <button
          type="button"
          *ngIf="showAssignOrder"
          data-target="#assignOrderModal"
          data-toggle="modal"
          kendoButton
          [primary]="true"
          (click)="onAssignClick()"
          [disabled]="loadingOrderGrid"
        >
          Assign Encounter
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <kendo-grid
          [data]="OrderGridView"
          [skip]="OrderSkip"
          class="w-100"
          style="height: 60vh"
          [selectable]="selectableSettings"
          [kendoGridSelectBy]="selectedCallback"
          [selectedKeys]="OrderSelected"
          [sortable]="{
            mode: 'multiple'
          }"
          [sort]="OrderSort"
          (sortChange)="OrderSortChange($event)"
          [loading]="loadingOrderGrid"
          [pageable]="true"
          [pageSize]="pagesize"
          (pageChange)="OrderPageChange($event)"
        >
          <ng-template *ngIf="vwExportButton" kendoGridToolbarTemplate>
            <button
              class="pull-right mr-1"
              type="button"
              (click)="exportToExcelLog()"
              kendoGridExcelCommand
            >
              Export to Excel
            </button>
          </ng-template>
          <kendo-grid-checkbox-column width="8" showSelectAll="true">
          </kendo-grid-checkbox-column>
          <kendo-grid-column
            field="encountersource"
            title=""
            width="10"
            class="text-center"
            [headerStyle]="{ 'font-weight': 'bold' }"
            [sortable]="false"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <i
                class="fas ml-1"
                [ngClass]="{
                  'fa-file-pdf text-red':
                    dataItem.encountersource?.toLowerCase() == 'rcm encounter',
                  'fa-flask text-indigo':
                    dataItem.encountersource?.toLowerCase() ==
                    'biotech encounter'
                }"
                [title]="dataItem.encountersource"
              ></i>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            *ngIf="!isHidden('orderqueuegroupid')"
            field="orderqueuegroupid"
            title="Work Group #"
            width="40"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="orderyear"
            title="Year"
            width="20"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="orderday"
            title="Folder"
            width="35"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="ordercategory"
            title="Category"
            width="40"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="clientname"
            title="Client"
            width="30"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="orderqueuegroupcode"
            title="Accession #"
            width="40"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="comment"
            title="Comment"
            width="40"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="documentcount"
            title=""
            width="20"
            [sortable]="false"
            [headerStyle]="{ 'font-weight': 'bold' }"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <i
                (click)="onOpenViewdetails(dataItem)"
                data-toggle="modal"
                data-target="#viewdetailsModal"
                class="fas fa-eye mr-1 pointer text-primary"
                title="View"
              ></i>
              <i
                *ngIf="vwAddComment"
                (click)="onAddCommentClicked(dataItem)"
                data-toggle="modal"
                data-target="#viewAddComment"
                class="fas fa-comment pointer mr-1 text-info"
                title="Add Comment"
              ></i>
              <i
                *ngIf="dataItem.hl7present"
                class="fas fa-notes-medical mr-1 text-orange"
                title="HL7 is available"
              ></i>
              <i
                *ngIf="dataItem.clientbilling"
                class="fas fa-file-invoice-dollar text-green"
                title="Client billed encounter"
              ></i>
            </ng-template>
          </kendo-grid-column>

          <ng-template kendoGridNoRecordsTemplate>
            No records available.
          </ng-template>
          <kendo-grid-excel fileName="{{ exportFilename }}.xlsx">
            <!-- [fetchData]="allData" -->
            <kendo-excelexport-column
              field="encountersource"
              title="Encounter Type"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column field="orderyear" title="Year">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="orderday" title="Folder">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="ordercategory" title="Category">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="clientname" title="Client">
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="orderqueuegroupcode"
              title="Accession #"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column field="comment" title="Comment">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="hl7present" title="HL7">
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="clientbilling"
              title="Client Billing"
            >
            </kendo-excelexport-column>
          </kendo-grid-excel>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>
<!--View Details Model GRID---  -->

<div
  class="modal fade bd-example-modal-lg"
  data-backdrop="static"
  data-keyboard="false"
  id="viewdetailsModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <app-order-details #OrderDetailsComponent></app-order-details>
  </div>
</div>
<!--View Details Model -->

<div
  class="modal fade bd-example-modal-lg"
  *ngIf="OrderSelected.length > 0"
  data-backdrop="static"
  data-keyboard="false"
  id="assignOrderModal"
  role="dialog"
  aria-labelledby="buttonLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <app-order-assignment #OrderAssignment></app-order-assignment>
  </div>
</div>

<!--Confirmation Modal -->
<div
  *ngIf="this.OrderSelected.length > 0"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="confirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-action-confirmation
      [InputConfirmationTitle]="confirmationTitle"
      [InputConfirmationMessage]="InputStatusMessage"
      (OutputConfirmationResult)="OutputStatusResult($event)"
    >
    </app-action-confirmation>
  </div>
</div>
<!--Confirmation Modal -->
<!-- Add comment modal -->
<div
  class="modal bd-example-modal-lg"
  data-backdrop="static"
  data-keyboard="false"
  id="viewAddComment"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Comment</h5>
        <button
          type="button"
          class="close"
          (click)="onCommentClose()"
          data-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-comment
          (iscommentsaved)="outputCommentResult($event)"
          #AddCommentComponent
        ></app-add-comment>
      </div>
    </div>
  </div>
</div>
<!-- Add comment modal -->
