<div class="card">
  <div class="card-header ">
    <h4 class="mb-0">Status</h4>
    <div class="row ml-auto">
      <button
        class="ml-auto"
        kendoButton
        [primary]="true"
        data-toggle="modal"
        data-target="#addstatusModal"
        (click)="AddStatus()"
      >
        Add Status
      </button>
    </div>
  </div>
  <div class="card-body"  style=" height: 72vh">
    <div class="grid-wrapper">
      <kendo-grid
        id="gridStatus"
        [data]="StatusgridView"
        style="width:100%; max-height: 68vh;"
        [pageSize]="StatuspageSize"
        [pageable]="true"
        [skip]="Statusskip"
        (pageChange)="pageChangeStatus($event)"
        [sortable]="true"
        [sort]="Statussort"
        (sortChange)="sortStatusChange($event)"
        [selectable]="true"
        (edit)="EditStatus($event)"
        (remove)="DeleteStatus($event)"
      >
        <kendo-grid-column
          field="sstatuscode"
          title="Code"
          width="1"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="sstatusdescription"
          title="Description"
          width="5"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="bisactive"
          title="Status"
          width="2"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.bisactive == true" class="text-success">
              Active
            </div>
            <div *ngIf="dataItem.bisactive == false" class="text-danger">
              Inactive
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column
          title="Action"
          width="1"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <button
              kendoGridEditCommand
              [primary]="true"
              title="Edit"
              data-toggle="modal"
              data-target="#editstatusconfirmationModal"
            >
              <i class="fe fe-edit-2"></i>
            </button>
            <!-- <button kendoGridRemoveCommand title="Delete" data-toggle="modal"
              data-target="#deletestatusconfirmationModal"><i class="fe fe-x"></i></button> -->
            <button
              *ngIf="dataItem.bisactive == false"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              class="k-button"
              (click)="OnStatusStatus(dataItem.nstatusid, true)"
              title="Activate"
            >
              <i class="fe fe-zap"></i>
            </button>
            <button
              *ngIf="dataItem.bisactive == true"
              class="k-button"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              (click)="OnStatusStatus(dataItem.nstatusid, false)"
              title="Deactivate"
            >
              <i class="fe fe-zap-off"></i>
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
      <div
        *ngIf="!this.StatusgridView"
        class="k-icon k-i-loading"
        style="font-size: 64px; "
      ></div>
    </div>
  </div>
</div>

<!-- Add Status -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="addstatusModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-addstatus
      [InputStatusEditid]="EditStatusid"
      (OutputStatusEditResult)="OutputStatusEditResult($event)"
      #AddStatusChild
    >
    </app-addstatus>
  </div>
</div>
<!-- Add Status -->

<!--Edit Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="editstatusconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-editconfirmation
      [InputEditMessage]="InputEditMessage"
      (OutputEditResult)="OutputEditResult($event)"
    >
    </app-editconfirmation>
  </div>
</div>
<!--Edit Confirmation Model -->

<!--Delete Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="deletestatusconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-deleteconfirmation
      [InputDeleteMessage]="InputDeleteMessage"
      (OutputDeleteResult)="OutputDeleteResult($event)"
    >
    </app-deleteconfirmation>
  </div>
</div>
<!--Delete Confirmation Model -->
