.page-template {
  font-family: "Arial" !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page-template .header {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;

  border-bottom: 1px solid #888;
  color: #888;
}

.page-template .footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-top: 1px solid #888;
  text-align: center;
  color: #888;
}

/* @font-face {
  font-family: "Arial";
  src: "";
  font-size: 1rem;
 
}
@font-face {
  font-family: "Arial";
  src: "";
  font-size: 1rem;

}
@font-face {
  font-family: "Arial";
  src: "";
  font-size: 1rem;
 
}
@font-face {
  font-family: "Arial";
  src: "";
  font-size: 1rem;
 
} */

.k-grid {
  font-family: "Source Sans Pro";
  font-size: 12px;
}

#workcountGrid .td {
  border-width: 0;
}
