<div class="row">
  <!-- <div *ngIf="auto_status != ''" class="col-md-3"> -->
  <div class="col-md-3">
    <small class="text-muted mr-2">Auto. Status</small>
    <label class="mb-0 form-label d-inline-block">{{ auto_status }}</label>
    <!-- {{StatusInfo.auto_laststatus}} on
    {{StatusInfo.auto_lastworked| date:'MM-dd-yyyy hh:mm:ss a'}} -->
  </div>
  <div class="col-md-3">
    <small class="text-muted mr-2">Auto. Reason Code</small>
    <label class="mb-0 form-label d-inline-block">{{
      StatusInfo.reasoncode
    }}</label>
  </div>
  <!-- <div class="col-md-4"><span class="font-weight-bold">Rep. Status - </span>{{StatusInfo.lastworkedstatus}} on {{StatusInfo.lastworked}} by {{StatusInfo.lastworkedby}}</div> -->
  <!-- <div class="col-md-4"><span class="font-weight-bold">Rep. Status - </span><span >PRECERTIFICATION/AUTHORIZATION/NOTIFICATION ABSENT. on 05/04/2019 by A001</span></div> -->
  <div class="col-md-1">
    <small class="text-muted mr-2">Rep. Status</small>
  </div>
  <div class="col-md-5">
    <label
      class="mb-0 form-label d-inline-block"
      style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 1; -webkit-box-orient: vertical;"
      *ngIf="rep_status != ''"
      title="{{ rep_status }}"
    >
      {{ rep_status }}
    </label>
  </div>
  <!-- <div class="row no-gutters" >
      <div class="col-md-3 font-weight-bold">Rep. Status - </div>
      <div *ngIf="rep_status!=''" class="col-md-9 " title="{{rep_status}}" style=" overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{ rep_status }}</div>
    </div> -->
  <div class="col-md-1">
    <small class="mr-2 text-muted">Last Note</small>
  </div>
  <div class="col-md-11">
    <label
      class="d-inline-block form-label mb-1"
      style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"
      title="{{ StatusInfo.qpmlastworkednote }}"
    >
      <!-- {{StatusInfo.lastworkednote}} -->
      {{ StatusInfo.qpmlastworkednote }}
    </label>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12" >
    <div class="row no-gutters" title="{{StatusInfo.lastworkednote}}">
    <div class="col-md-1 font-weight-bold ml-0 pl-0">Last Note</div>
    <div class="col-md-11" style=" overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{{StatusInfo.lastworkednote}}</div>
  </div>
  </div>
</div> -->
