<div class="card">
  <div class="card-header ">
    <h4 class="mb-0">Client Login</h4>
    <div class="row ml-auto">
      <div>
        <button
          class="ml-auto"
          kendoButton
          [primary]="true"
          data-toggle="modal"
          data-target="#addclientloginModal"
          (click)="AddClientLogin()"
        >
          Add Client Login
        </button>
      </div>
    </div>
  </div>
  <div class="card-body"  style=" height: 72vh">
    <div class="grid-wrapper">
      <kendo-grid
        id="gridClientlogin"
        [data]="ClientlogingridView"
        style="width:100%; max-height: 68vh;"
        [pageSize]="ClientloginpageSize"
        [pageable]="true"
        [skip]="Clientloginskip"
        (pageChange)="pageChangeClientlogin($event)"
        [sortable]="true"
        [sort]="Clientloginsort"
        (sortChange)="sortClientloginChange($event)"
        [selectable]="true"
        (edit)="EditClientlogin($event)"
      >
        <kendo-grid-column
          field="sloginname"
          title="Login Name"
          width="5"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="sclientname"
          title="Client Name"
          width="10"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="spayername"
          title="Payer Name"
          width="10"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="sloginusing"
          title="Login Using"
          width="15"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="bisactivelogin"
          title="Status"
          width="5"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.bisactivelogin == true" class="text-success">
              Active
            </div>
            <div *ngIf="dataItem.bisactivelogin == false" class="text-danger">
              Inactive
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column
          title="Action"
          width="6"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <button
              kendoGridEditCommand
              [primary]="true"
              title="Edit"
              data-toggle="modal"
              data-target="#editclientconfirmationModal"
            >
              <i class="fe fe-edit-2"></i>
            </button>
            <button
              *ngIf="dataItem.bisactivelogin == false"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              class="k-button"
              (click)="OnClientLoginStatus(dataItem.nloginid, true)"
              title="Activate"
            >
              <i class="fe fe-zap"></i>
            </button>
            <button
              *ngIf="dataItem.bisactivelogin == true"
              class="k-button"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              (click)="OnClientLoginStatus(dataItem.nloginid, false)"
              title="Deactivate"
            >
              <i class="fe fe-zap-off"></i>
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
      <div
        *ngIf="!this.ClientlogingridView"
        class="k-icon k-i-loading"
        style="font-size: 64px; "
      ></div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="addclientloginModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-addclientlogin
      [InputClientloginEditid]="EditClientloginid"
      (OutputClientloginEditResult)="OutputClientLoginEditResult($event)"
      #AddClientloginChild
    ></app-addclientlogin>
  </div>
</div>

<!--Edit Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="editclientconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-editconfirmation
      [InputEditMessage]="InputEditMessage"
      (OutputEditResult)="OutputEditResult($event)"
    >
    </app-editconfirmation>
  </div>
</div>
<!--Edit Confirmation Model -->
