<div class="card">
  <div class="card-header">
    <h4 class="mb-0">Encounter Sub-Status</h4>
    <div class="row ml-auto">
      <button
        class="ml-auto"
        kendoButton
        [primary]="true"
        data-toggle="modal"
        data-target="#addordersubstatusModal"
        (click)="AddSubstatus()"
      >
        Add Sub-Status
      </button>
    </div>
  </div>
  <div class="card-body" style="height: 72vh">
    <div class="grid-wrapper">
      <kendo-grid
        [data]="subStatusGridView"
        class="w-100"
        style="max-height: 68vh"
        [pageSize]="subStatusPageSize"
        [pageable]="true"
        [skip]="subStatusSkip"
        (pageChange)="pageChangeSubStatus($event)"
        [sortable]="true"
        [sort]="subStatussort"
        (sortChange)="sortSubStatusChange($event)"
        [selectable]="true"
        [loading]="loadingGrid"
        (edit)="EditSubStatus($event)"
      >
        <kendo-grid-column
          field="statusname"
          title="Status Name"
          width="30"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="substatusname"
          title="Sub-Status Name"
          width="45"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="substatusdescription"
          title="Sub-Status Description"
          width="70"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <span title="{{ dataItem.substatusdescription }}">{{
              dataItem.substatusdescription
            }}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="isactive"
          title="Status"
          width="20"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.isactive == true" class="text-success">
              Active
            </div>
            <div *ngIf="dataItem.isactive == false" class="text-danger">
              Inactive
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column
          title="Action"
          width="25"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <button
              kendoGridEditCommand
              [primary]="true"
              title="Edit"
              data-toggle="modal"
              data-target="#editsubstatusconfirmationModal"
            >
              <i class="fe fe-edit-2"></i>
            </button>
            <ng-container *ngIf="!dataItem.systemdefined">
              <button
                *ngIf="!dataItem.isactive"
                data-toggle="modal"
                data-target="#substatusconfirmationModal"
                class="k-button"
                title="Activate"
                (click)="OnSubStatusStatus(dataItem, true)"
              >
                <!-- (click)="OnSubStatusStatus(dataItem, true)" -->
                <i class="fe fe-zap"></i>
              </button>
              <button
                *ngIf="dataItem.isactive"
                class="k-button"
                data-toggle="modal"
                data-target="#substatusconfirmationModal"
                title="Deactivate"
                (click)="OnSubStatusStatus(dataItem, false)"
              >
                <!-- (click)="OnSubStatusStatus(dataItem, false)" -->
                <i class="fe fe-zap-off"></i>
              </button>
            </ng-container>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </div>
</div>

<!-- Add SubStatus -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="addordersubstatusModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-add-order-sub-status
      (OutputSubStatusEditResult)="OutputSubStatusEditResult($event)"
      #AddSubstatusChild
    ></app-add-order-sub-status>
  </div>
</div>
<!-- Add SubStatus -->

<!--Edit Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="editsubstatusconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-editconfirmation
      [InputEditMessage]="InputEditMessage"
      (OutputEditResult)="OutputEditResult($event)"
    >
    </app-editconfirmation>
  </div>
</div>
<!--Edit Confirmation Model -->

<!--Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="substatusconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-action-confirmation
      [InputConfirmationTitle]="'Update Status'"
      [InputConfirmationMessage]="InputStatusMessage"
      (OutputConfirmationResult)="OutputStatusResult($event, SelectedDataItem)"
    >
    </app-action-confirmation>
  </div>
</div>
<!--Confirmation Model -->
