<div class="card">
  <div class="card-header ">
    <h4 class="mb-0">Actions</h4>
    <div class="row ml-auto">
      <button
        class="ml-auto"
        kendoButton
        [primary]="true"
        data-toggle="modal"
        data-target="#addactionsModal"
        (click)="AddActions()"
      >
        Add Actions
      </button>
    </div>
  </div>
  <div class="card-body" style=" height: 72vh">
    <div class="grid-wrapper">
      <kendo-grid
        id="gridActions"
        [data]="ActionsgridView"
        style="width:100%; max-height: 68vh;"
        [pageSize]="ActionspageSize"
        [pageable]="true"
        [skip]="Actionsskip"
        (pageChange)="pageChangeActions($event)"
        [sortable]="true"
        [sort]="Actionssort"
        (sortChange)="sortActionsChange($event)"
        [selectable]="true"
        (edit)="EditActions($event)"
        (remove)="DeleteActions($event)"
      >
        <kendo-grid-column
          field="sactioncode"
          title="Code"
          width="2"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="sactiondescription"
          title="Description"
          width="5"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="bisactive"
          title="Status"
          width="1"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.bisactive == true" class="text-success">
              Active
            </div>
            <div *ngIf="dataItem.bisactive == false" class="text-danger">
              Inactive
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column
          title="Action"
          width="1"
          [headerStyle]="{ 'font-weight': 'bold' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <button
              kendoGridEditCommand
              [primary]="true"
              title="Edit"
              data-toggle="modal"
              data-target="#editactionsconfirmationModal"
            >
              <i class="fe fe-edit-2"></i>
            </button>
            <!-- <button kendoGridRemoveCommand title="Delete" data-toggle="modal"
              data-target="#deleteactionsconfirmationModal"><i class="fe fe-x"></i></button> -->
            <button
              *ngIf="dataItem.bisactive == false"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              class="k-button"
              (click)="OnActionsStatus(dataItem.nactionid, true)"
              title="Activate"
            >
              <i class="fe fe-zap"></i>
            </button>
            <button
              *ngIf="dataItem.bisactive == true"
              class="k-button"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
              (click)="OnActionsStatus(dataItem.nactionid, false)"
              title="Deactivate"
            >
              <i class="fe fe-zap-off"></i>
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
      <div
        *ngIf="!this.ActionsgridView"
        class="k-icon k-i-loading"
        style="font-size: 64px; "
      ></div>
    </div>
  </div>
</div>

<!-- Add Actions -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="addactionsModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-addactions
      [InputActionsEditid]="EditActionsid"
      (OutputActionsEditResult)="OutputActionsEditResult($event)"
      #AddActionsChild
    >
    </app-addactions>
  </div>
</div>
<!-- Add Actions -->

<!--Edit Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="editactionsconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-editconfirmation
      [InputEditMessage]="InputEditMessage"
      (OutputEditResult)="OutputEditResult($event)"
    >
    </app-editconfirmation>
  </div>
</div>
<!--Edit Confirmation Model -->

<!--Delete Confirmation Model -->
<div
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="deleteactionsconfirmationModal"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <app-deleteconfirmation
      [InputDeleteMessage]="InputDeleteMessage"
      (OutputDeleteResult)="OutputDeleteResult($event)"
    >
    </app-deleteconfirmation>
  </div>
</div>
<!--Delete Confirmation Model -->
