<div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
            <div class="col-md-6">Assign To</div>
            <div class="col-md-6"><kendo-dropdownlist textField="value" valueField="id">
              </kendo-dropdownlist>
          </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6">Date</div>
            <div class="col-md-6"><kendo-datepicker></kendo-datepicker></div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">Comment</div>
          <div class="col-md-6"><textarea style="width: 60%;" cols="10"></textarea></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <input type="checkbox" text="I Want to follow-up" />
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="col-md-6">Date</div>
              <div class="col-md-6"><kendo-datepicker></kendo-datepicker></div>
          </div>
          <div class="col-md-6">
              <div class="col-md-6">Comment</div>
              <div class="col-md-6"><textarea style="width: 60%;" cols="10"></textarea></div>
          </div>
        </div>
    </div>
  </div>
