<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel" *ngIf="newErrortype">
      Add Errortype
    </h4>
    <h4 class="modal-title" id="exampleModalLabel" *ngIf="!newErrortype">
      Update Errortype
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="OnClose()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ErrortypeGroup">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label"
              ><strong class="text-danger">*</strong>Description
            </label>
            <input
              kendoTextBox
              [class.is-invalid]="
                ErrortypeDescription.invalid && ErrortypeDescription.touched
              "
              formControlName="fcErrortypeDescription"
              type="text"
              id="txtErrortypedescription"
              class="form-control form-control-sm"
            />
            <div
              *ngIf="
                submitted ||
                (ErrortypeDescription.invalid && ErrortypeDescription.touched)
              "
            >
              <small
                *ngIf="ErrortypeDescription.errors?.required"
                class="text-danger"
                >Description is required</small
              >
              <small
                *ngIf="ErrortypeDescription.errors?.maxlength"
                class="text-danger"
                >Description allows 150 characters</small
              >
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary btn-sm"
      data-dismiss="modal"
      (click)="OnClose()"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      id="AddErrortype"
      (click)="saveErrortype()"
    >
      Save
    </button>
  </div>
</div>
